
<html>
    <head>
        <title>Cup of Tea</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <center>
            <h1>Cup of Tea</h1>
            <p>This is a basic HTML file</p>
            {{#if req.user}}
                <a href="/logout/">Logout</a>
                <a href="/user/{{req.user.username}}">{{req.user.username}}</a>
                <a href="/notifications/">Notifications</a>
            {{else}}
                <a href="/login/">Login</a>
                <a href="/register/">Register</a>
            {{/if}}
        </center>
        <div class="content">
            <center>
                {{#if messages.error}}
                    <div class="error-message">
                        {{messages.error}}
                    </div>
                {{/if}}
                {{#if messages.info}}
                    <div class="neutral-message">
                        {{messages.info}}
                    </div>
                {{/if}}
            </center>
            {{{body}}}
        </div>
    </body>
</html>