
<center>
    <h1>Edit blog</h1>
	<h1>{{blog.title}}</h1>
</center>
<p> By: <a href="/user/{{blog.author}}">{{blog.author}}</a></p>
<p>{{blog.body}}</p>
{{#if editbutton}}
	<a href="/edit/{{blog._id}}">Edit</a>
{{/if}}