<h1>{{username}}</h1>
{{#if email}}
    <p>Email: {{email}}</p>
    <p>College/University: {{school}}</p>
    <a href="/user/{{username}}/edit">Edit profile</a>
{{/if}}

<form method="delete" action="/deleteuser/{{username}}" onclick="return ConfirmDelete()">  
    <input type="submit" value="Delete User"  />
</form>

<script type="text/javascript">
function ConfirmDelete() { 
    if (confirm("Delete account?")) {
        return true;
    }
    return false;
}
</script>

{{#if followbutton}}
    <a href="/follow/{{username}}/">Follow</a>
{{/if}}
{{#if unfollowbutton}}
    <a href="/unfollow/{{username}}/">Unfollow</a>
{{/if}}
