<h1>{{topic}}</h1>
{{#if followbutton}}
    <a href="/followtopic/{{topic}}/">Follow</a>
{{/if}}
{{#if unfollowbutton}}
    <a href="/unfollowtopic/{{topic}}/">Unfollow</a>
{{/if}}
<ul>
	{{#each arr}}
	<li><h1><a href="/viewsingle/{{_id}}">{{title}}</a></h1>
	<p>by: <a href="/user/{{author}}">{{author}}</a><p>
	<p>votes: {{voteCount}} <a href="/viewsingle/{{_id}}/voteup">+</a> <a href="/viewsingle/{{_id}}/votedown">-</a></p>
	<p><h2>{{body}}</h2></p></li>
	{{/each}}
</ul>	
